@tailwind base;
@tailwind components;
@tailwind utilities;

/* Calendar styles */
.react-calendar {
  width: 100%;
  background: white;
  border: none;
  font-family: inherit;
}

.has-readings {
  background-color: rgb(75, 192, 192, 0.2);
}

.react-calendar__month-view__days__day {
  padding: 0.5em !important;
}

.react-calendar button {
  padding: 0.25em !important;
}

.react-calendar__navigation button {
  min-width: 35px !important;
  background: none !important;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: rgba(75, 192, 192, 0.1) !important;
} 