@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.has-readings {
  background-color: rgba(75, 192, 192, 0.2) !important;
}

.react-calendar {
  width: 100% !important;
  border: none !important;
  background: transparent !important;
  font-size: 0.875rem !important;
}

.react-calendar__month-view__days__day {
  padding: 0.5em !important;
}

.react-calendar button {
  padding: 0.25em !important;
}

.react-calendar__navigation button {
  min-width: 35px !important;
  background: none !important;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: rgba(75, 192, 192, 0.1) !important;
} 